body {

}

h1 {
    margin-top: 10px;
}

.pianorole {
    border: solid 1px #808080;
    width: 1200px;
    height :3000px;
    background-image: url(piano.png);
}

.pianorole-bg {
    overflow: auto;
    height: 400px;
    width: 800px;
}