#tracklist {
    margin-top: 0px;
    margin-left: 5px;
    margin-bottom: -6px;
    padding: 3px 0;
}

#tracklist li {
    list-style: none;
    display: inline;
    margin: 0;
    border: 1px solid #778;
    border-bottom: none;
    font-size: large;
    background: #444444;
    padding-right: 5px;
    padding-left: 5px;
}

#tracklist li.current{
    background: #dddddd;
    opacity: 1.0;
}

.trackview {
/*     border: 1px solid #778;     */
}

#trackinfo {
    padding-top: 5px;
    padding-left: 5px;
/*     border: 1px solid #778; */
    margin-top: 0px;
    height: 40px;
}

